schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- this is generated by claude on the generate_schema.py file -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <!-- Root element -->
  <xs:element name="commands">
    <xs:complexType>
      <xs:choice maxOccurs="unbounded">
        <xs:element name="createExtension" type="createExtensionType"/>
        <xs:element name="addTable" type="addTableType"/>
        <xs:element name="removeTable" type="removeTableType"/>
        <!-- Add additional top-level elements as needed -->
      </xs:choice>
    </xs:complexType>
  </xs:element>

  <xs:complexType name="createExtensionType">
    <xs:attribute name="name" type="xs:string" use="required"/>
  </xs:complexType>

  <xs:complexType name="addTableType">
    <xs:sequence>
      <xs:element name="addColumn" type="columnType" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="removeColumn" type="removeColumnType" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="addForeignKey" type="foreignKeyType" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="addIndex" type="indexType" minOccurs="0" maxOccurs="unbounded"/>
      <!-- Other child elements if required -->
    </xs:sequence>
    <xs:attribute name="name" type="xs:string" use="required"/>
    <xs:attribute name="history" type="xs:boolean" use="optional" default="false"/>
  </xs:complexType>

  <xs:complexType name="removeTableType">
    <xs:attribute name="name" type="xs:string" use="required"/>
  </xs:complexType>

  <xs:complexType name="columnType">
    <xs:attribute name="name" type="xs:string" use="required"/>
    <xs:attribute name="type" type="xs:string" use="required"/>
    <xs:attribute name="primaryKey" type="xs:boolean" use="optional" default="false"/>
    <xs:attribute name="nullable" type="xs:boolean" use="optional" default="true"/>
    <xs:attribute name="unique" type="xs:boolean" use="optional" default="false"/>
    <xs:attribute name="default" type="xs:string" use="optional"/>
  </xs:complexType>

  <xs:complexType name="removeColumnType">
    <xs:attribute name="name" type="xs:string" use="required"/>
  </xs:complexType>

  <xs:complexType name="foreignKeyType">
    <xs:attribute name="column" type="xs:string" use="required"/>
    <xs:attribute name="refTable" type="xs:string" use="required"/>
    <xs:attribute name="refColumn" type="xs:string" use="required"/>
    <xs:attribute name="onDelete" type="xs:string" use="optional"/>
    <xs:attribute name="onUpdate" type="xs:string" use="optional"/>
  </xs:complexType>

  <xs:complexType name="indexType">
    <xs:attribute name="name" type="xs:string" use="required"/>
    <xs:attribute name="columns" type="xs:string" use="required"/>
    <xs:attribute name="update" type="xs:boolean" use="optional" default="false"/>
  </xs:complexType>

</xs:schema>